:root {
  --orange: #fcb782;
  --light-orange: #faefe3;
  --electric-orange: #fe6e06;
  --dark-grey: #333333;
  --white: #ffffff;
}
body {
  background-color: var(--orange);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.hero {
  padding: 64px;
}

.container {
  border: 1px solid black;
  display: flex;
  max-width: 1312px;
  margin: auto;
}
.column {
  width: 50%;
  border: 1px solid red;
}
.heading-wrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.heading-wrapper .badge .text-badge {
  transform-origin: center;
  animation: rotate linear 7s infinite;
}
.cards-wrapper {
  display: flex;
}

h1 {
  font-size: 112px;
  font-family: Times New Roman;
  font-weight: 400;
  font-style: normal;
  line-height: 108px;
  text-decoration: none;
  text-transform: none;
  color: var(--white);
  margin: 0;
}

.text {
  padding: 40px 0;
}
.text a {
  background-color: var(--electric-orange);
  color: var(--white);
  padding: 24px 40px;
  border-radius: 40px;
  display: inline-block;
  transition: 0.25s all;
}
.text a:hover {
  background-color: var(--dark-grey);
  transform: translateY(-5px);
}
.btn-text {
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: none;
}
.cards-wrapper {
  padding: 20px 0;
  display: flex;
  gap: 16px;
}
.card {
  padding: 20px;
  border-radius: 24px;
  background-color: var(--light-orange);
}
.card-title {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 9px;
}
.card-title i {
  font-size: 18px;
  color: var(--orange);
}
h2 {
  font-size: 24px;
  font-family: Helvetica Neue;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  color: var(--white);
  margin-bottom: 30px;
}
p {
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
h3 {
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
